@charset "UTF-8";
/**
 * buttons
 * @authors leedow (644743991@qq.com)
 * @website http://www.leedow.com
 * @date    2015-05-14 21:27:01
 * @version $Id$
 */
button, input{
	font-family: @global-font-family;
}


.btn{
	display: inline-block;
	padding: @btn-padding-md;
	border-radius: @btn-radius;
	border: 0;
	line-height: @global-font-size;
	height:auto;

}

.btn-block{
	display: block;

}

.btn-default{
	.btn;
	background: @btn-background;
	border: @btn-border;
	border: @btn-border solid;
}

.btn-default:hover{
	background: @btn-background-hv;
	 
}

.btn-primary{
	.btn;
	background: @btn-background-primary;
	border: @btn-border-primary;
	color: @btn-color-primary;
}

.btn-primary:hover{
	color: #fff;
	background: @btn-background-hv-primary;
}

.btn-warm{
	.btn;
	background: @btn-background-warm;
	border: @btn-border-warm;
	color: @btn-color-warm;
}

.btn-warm:hover{
	color: #fff;
	background: @btn-background-hv-warm;
}

.btn-lg{
	padding: @btn-padding-lg;
	font-size: @font-size-lg;
}

.btn-sm{
	padding: @btn-padding-sm;
}