@charset "UTF-8";
/**
 * reponse
 * @authors leedow (644743991@qq.com)
 * @website http://www.leedow.com
 * @date    2015-05-14 20:53:01
 * @version $Id$
 */
 .layout-response{
 	position: relative;
 	height: 100%;
	margin: 0 auto;
}

.response-center{
	//left: 50%;
	//margin-left: -@response-width/2;
}

@media only screen and (max-width: 1000px){
	.layout-response{
		width: 100%;	
	}
}

@media only screen and (min-width: 1000px){
	.layout-response{
		width: @response-width;
		.response-center
	}	
}
@media only screen and (min-width: 1000px) and (-moz-min-device-pixel-ratio: 2){
	.layout-response{
		width: @response-width;
		.response-center
	}
}
@media only screen and (min-width: 1000px) and (-o-min-device-pixel-ratio: 2/1){
	.layout-response{
		width: @response-width;
		.response-center
	} 
} 
@media only screen and (min-width: 1000px) and (-webkit-min-device-pixel-ratio: 2){
	.layout-response{
		width: @response-width;
		.response-center
	} 
}
@media only screen and (min-width: 1000px) and (min-device-pixel-ratio: 2){
	.layout-response{
		width: @response-width;
		.response-center
	} 
}
 
